{% extends "base.html" %}

{% block title %}
    Carrinho de compras
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form class="" action="">
                <table class="table table-bordered">
                    <thead>
                        <th>
                            ID
                        </th>
                        <th>
                            Nome
                        </th>
                        <th>
                            Preço
                        </th>
                        <th style="width: 10%;">
                            Quantidade
                        </th>
                        <th>

                        </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                10
                            </td>
                            <td>
                                Curso de Django
                            </td>
                            <td>
                                R$ 200
                            </td>
                            <td>
                                <input type="text" name="name" value="1" class="form-control" />
                            </td>
                            <td class="text-center">
                                <button name="remove" value="1" type="submit" class="btn btn-danger btn-sm">remover</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                9
                            </td>
                            <td>
                                Curso de Python
                            </td>
                            <td>
                                R$ 150
                            </td>
                            <td>
                                <input type="text" name="name" value="1" class="form-control" />
                            </td>
                            <td class="text-center">
                                <button name="remove" value="1" type="submit" class="btn btn-danger btn-sm">remover</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="text-right">
                    <a href="#" class="pull-left btn btn-default">Continuar Compras</a>
                    <button type="button" class="btn btn-primary" name="button">Atualizar Carrinho</button></li>
                    <a href="" class="btn btn-success">Finalizar Compra</a>
                </p>
            </form>
        </div>
    </div>
{% endblock %}